html, body {
    margin: 0;
    height: 100%;
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.header-left {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin: 0;
    padding: 0;
    color: #e5e7eb;
    font-size: 18px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 100%;
}

.hero {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    width: 100%;
    display: flex;
    flex: auto;
    justify-content: center;
}

.information {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: auto;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 125px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    width: 100%;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.saying {
    padding: 50px 300px 0;
    margin: 0;
}

h4 {
    align-self: end;
    margin: 0;
    padding-bottom: 40px;
    padding-right: 350px;
}

.section-four {
    background-color: white;
    width: 100%;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #3882f6;
    display: flex;
}

button {
    background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 8px;
}
